@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Germania+One&display=swap');

*{
    margin: 0;
    
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.521);
    /* background-color: #f2f9f4; */
}

.error{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
}

.nav_btn{
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    font-size: 25px;
}

.nav_item{
    background-color: #deeee8;
    height: min-content;
    padding: 20px;
    width: 100%;
}


.logo{
    background-color: #8fd8c5;
    padding: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img{
    fill: green;
}

.nav_item ul li a {
    padding: 20px;

}
.nav_item ul li a:hover {
    background-color: #c0dad6;
    padding: 20px;
    /* border: 1px solid; */
    border-radius: 20px;
    
    cursor: pointer;
}

.pageOne{
    min-height: 100vh;
    padding-left: 80px;
}

.containerPageOne{
    display: flex;    
}

.mainImage{
    margin: -150px;
}

.rightSide{
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 10rem;
}

.yogaClass{
    font-size: 70px;
    color: #509995;
}

.joinBtn{
    border-radius: 10px;
    padding: 5px 30px;
    font-size: medium;
    background-color: #509995;
    color: white;
    border: 0px;
    cursor: pointer;
}

.content p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #509995;
    font-size: 14px;
    text-align: center;
    font-weight: 500
}

.cornerShape{
    display: flex;
}

.cornerShape img{
    margin-top: 80px;
}

.cornerShape{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: baseline;
    padding-top: 290px;
    margin-top: 210px;
    
}

.pageTwo{
    min-height: 100vh;
    background-color:#509995;
}

.sharpRightImage {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}


.classCard{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.className h1{
    color: white;
}

.classDetail p{
    text-align: center;
    color:  white;
    font-family:   'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 350px;
}

.classCards{
    display: flex;
    gap: 40px;
    justify-content: space-around;
}